
[includeIf "gitdir:~/Developer/ai/"]
    path = ~/dotfiles/user.config/.gitconfig-oblivious-vomiting

[includeIf "gitdir:~/Developer/personal/"]
    path = ~/dotfiles/user.config/.gitconfig-ryanzigler

[includeIf "gitdir:~/Developer/work/"]
    path = ~/dotfiles/user.config/.gitconfig-ryanzigler

[core]
    excludesFile = ~/dotfiles/.gitignore_global

[filter "lfs"]
    clean = "git-lfs clean -- %f"
    smudge = "git-lfs smudge -- %f"
    process = "git-lfs filter-process"
    required = true

[alias]
    cleanup = "!sh -c 'git remote prune origin && git branch -vv | grep \": gone]\" | awk \"{print \\$1}\" | xargs -r git branch -d'"
    gone = "!git fetch --prune && git for-each-ref --format '%(refname:short) %(upstream:track)' refs/heads | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D"
    helper = store
